{% extends 'admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
  <div class="w3-row">
  <div class="w3-col s3">
    <div class="w3-card-4 w3-padding-32 w3-center w3-round w3-margin-right">
        <i class="fa fa-gears" style="font-size:90px;"></i>
        <div class="w3-container w3-center w3-border w3-margin-top w3-black">
            <a class="w3-text-white" href="{{path('admin_parameters_home')}}">PARAMETRES</a>
        </div>
    </div>
  </div>
  <div class="w3-col s3">
    <div class="w3-card-4 w3-padding-32 w3-center w3-round w3-margin-right"">
        <i class='fas fa-money-check-alt' style='font-size:90px'></i>
        <div class="w3-container w3-center w3-border w3-margin-top w3-black">
            <a class="w3-text-white" href="{{path('admin_dons_home')}}">LES DONS</a>
        </div>
    </div>
  </div>
  <div class="w3-col s3">
     <div class="w3-card-4 w3-padding-32 w3-center w3-round w3-margin-right"">
        <i class='fas fa-users' style='font-size:90px'></i>
        <div class="w3-container w3-center w3-border w3-black w3-margin-top">
            <a class="w3-text-white" href="#">LES MEMBRES</a>
        </div>
    </div>
  </div>
  <div class="w3-col s3">
     <div class="w3-card-4 w3-padding-32 w3-center w3-round">
        <i class="fa fa-gears" style="font-size:90px;"></i>
        <div class="w3-container w3-center w3-margin-top">
            <a href="#">PARAMETRES</a>
        </div>
    </div>
  </div>
</div>        
{% endblock %}
