{% block body %}
	<div id="payment-form" method="post">
		<div id="errors"></div>
		<!--Contiendra les mesages d'erreurs de paiement -->
		<div id="card-element"><!--Stripe.js injects the Card Element--></div>
		<button id="submit" class="btn btn-success" data-secret="{{ secret }}">
			<div class="spinner hidden" id="spinner"></div>
			<span id="button-text">Payer avec stripe !</span>
		</button>
		<p id="card-errors" role="alert"></p>
		{# <p class="result-message hidden">
		            Payment succeeded, see the result in your
		            <a href="" target="_blank">Stripe dashboard.</a>
		            Refresh the page to pay again.
		        </p> #}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
